/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 15, 2014, 6:04:05 PM
    Author     : Savion
*/

* {
    background-color: #d1d2ff;
    
}

.TitleBar {

    position:static;
    padding-bottom: 5%;
}
#Title {
    display:inline-block;
    font-size: 36px;
    font-family: monospace;
    border-bottom: 3px solid black;
    float:left;
}

#LoginButtonHolder {
    display:inline-block;
    float:right;
    
}

#LoginButton {
    border-radius: 10px;
    font-size: 24px;
    background-color:#3333ff;
    color:white;
    
}

.Body {
    
}
#Intro {
    padding: 20px 5px 5px 30px;
    font-family: sans-serif;
}

#Petitions {
    position: static;
    background-color: #cccccc;
    width: 75%;
    margin: 0 auto;
}
